<div class="logo"></div>

<div class="content">
  <p>WagonChain is a new startup devoted to facilitating efficient supply chains for locally-manufactured goods. We're rolling out in Spring 2014.
  </p>

  <script>
      //var clear = true;
      function clear(obj)
      {
          //if(clear)
          //{
          obj.value = '';
          //clear = false;
          //}
      }
  </script>

  <%= form_tag sign_up_path, method: 'post' do %>
      <%= label_tag(:email, "Sign up for updates:") %>
      <%= text_field_tag(:email , nil, :placeholder => 'your e-mail address', :class=> 'text-field') %>
      <%= submit_tag("Submit") %>
  <% end %>

</div>
